@use "custom/variables" as *;

/* ─── Global Base Styles ─── */
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
}

/* ─── Scrollbar Styling ─── */
.sidebarScroll::-webkit-scrollbar {
  width: 0px;
}

.sidebarScroll::-webkit-scrollbar-thumb {
  background-color: #1f74fe45;
  border-radius: 10px;
}

.sidebarScroll::-webkit-scrollbar-thumb:hover {
  background-color: #1558c0;
}

.sidebarScroll::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
}
